a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_798fb160 a { text-decoration: none; }
#menu_798fb160_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_798fb160_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_798fb160_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_798fb160_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_798fb160_entry:hover span { color:#FFFFFF !important; }
		.menu_798fb160_mainMenuEntry { text-align: center; }
		.menu_798fb160_mainMenuEntry:hover {	background-color:#282828; }
		.menu_798fb160_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_798fb160 .mobileEntry { display: none; } 
		#menu_798fb160 .normalEntry { display: block; } 
		@media only screen and (max-width:650px) { 
			#menu_798fb160 .mobileEntry { display: block; } 
			#menu_798fb160 .normalEntry { display: none; } 
		}
#button_40cee31b { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; width:150px; height:40px; background-color:#FFFFFF;  }
#button_40cee31b:hover { background-color:#DFDFDF;  }
#button_40cee31b:hover span { color:#000000; }
body { background-color:#FFFF00; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_7133bc3d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_5405cb1f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:63px; background-color:#FFFF80;  }
#container_5405cb1f_padding { margin: 10px; display: block;  }
#container_60e09244 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#container_60e09244_padding { margin: 10px; display: block;  }
#button_70c663b5 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; margin:0px 0px 0px 20px;width:234px; height:40px; background:none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
#container_7eba60fe { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_7eba60fe_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_798fb160 { vertical-align: bottom; position:relative; display: inline-block; width:592px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:80px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:21px;  }
.textstyle6 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
.textstyle7 { font-size:10pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:93px; height:38px; left:90px;  }
.menustyle4 { position:absolute; width:116px; height:38px; left:183px;  }
.menustyle5 { position:absolute; width:132px; height:38px; left:299px;  }
.menustyle6 { position:absolute; width:93px; height:38px; left:431px;  }
.textstyle8 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#656565; font-weight:bold;  white-space: nowrap; }
#container_5733c5d7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:406px; background-color:#FFFFFF; background-image: url(images/34888998376_88e404e3d9_b.jpg); background-position:center left; background-size:cover;  }
#container_5733c5d7_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
.textstyle10 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
.textstyle11 { font-size:18pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
.textstyle12 { font-size:26pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
#text_76cb1e62 { position:absolute; left:13%; top:64%; width:802px; height:48px; background:none;  }
#text_63ce59bf { position:absolute; left:42%; top:36%; width:219px; height:35px; background:none;  }
#container_16e8edc5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:477px; background-color:#FAFF80;  }
#container_16e8edc5_padding { margin: 10px; display: block;  }
#container_24d93665 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:356px; background:none;  }
#container_24d93665_padding { margin: 10px; display: block;  }
#img_5be47000 { position:absolute; left:37%; top:3%; width:28%; background:none; height:auto;  }
#img_65c54bdf { position:absolute; left:69%; top:6%; width:24%; background:none; height:auto;  }
#text_455adee5 { position:absolute; left:1%; top:68%; width:400px; height:97px; background:none;  }
.textstyle13 { font-size:14pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
#text_22e24068 { position:absolute; left:36%; top:64%; width:349px; height:144px; background:none;  }
#text_b53fb0b { position:absolute; left:68%; top:66%; width:349px; height:135px; background:none;  }
#img_77609974 { position:absolute; left:3%; top:2%; width:27%; background:none; height:auto;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_48e5fabd { border-radius: 5px; position:absolute; left:77%; top:87%; width:150px; height:40px; background-color:#C0C0C0; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_2d732bdf { border-radius: 5px; position:absolute; left:41%; top:88%; width:150px; height:40px; background-color:#C0C0C0; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_513301f0 { border-radius: 5px; position:absolute; left:2%; top:88%; width:150px; height:40px; background-color:#C0C0C0; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#container_4c60c1f9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFF80;  }
#container_4c60c1f9_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#9E9E9E;  }
#container_68bc0339 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_68bc0339_padding { margin: 10px; display: block;  }
.textstyle16 { font-size:15pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; font-weight:bold; line-height: 1.5;  }
.textstyle17 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; line-height: 1.5;  }
#img_7048c57e { vertical-align: bottom; position:relative; display: inline-block; width:101%; background:none; height:auto;  }
.textstyle18 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#9E9E9E;  }
#container_42abcd13 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFF80;  }
#container_42abcd13_padding { margin: 10px; display: block;  }
#container_798620fa { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background:none;  }
#container_798620fa_padding { margin: 10px; display: block;  }
.textstyle19 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; font-weight:bold; line-height: 1.5;  }
.textstyle20 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2B2B2B; font-weight:bold;  }
@media only screen and (max-width: 650px)
{
		#menu_798fb160 { width:150px;  }
}
@media only screen and (max-width: 640px)
{
		#button_70c663b5 * span { font-size:12pt;  }
}
